<div class="col-md-3 col-sm-6 mb-3 top-stories">
    <div class="card" style="width: 18rem">
        <img src="<%= entertainment[i].urlToImage %> " alt="" class="card-img-top card-img tech-img" />
        <div class="card-title m-3">
            <h5><%=entertainment[i].title%></h5>
        </div>
        <a href="<%= entertainment[i].url %>" class="stretched-link">
            <p class="card-text ms-3 my-3">
                <small class="text-muted"><%= entertainment[i].source.name %> </small>
            </p>
        </a>
    </div>
</div>