
<footer class="p-5 text-center bg-light">
  <div class="row">
    <div class="col-12 pb-2">
      <h6 class="lead">Designed and Developed By Benson Thomas</h6>
    </div>

    <div class="col-12 tech-col">
      <!--` LinkedIN -->
      <div>
        <a>
          <i class="fab fa-linkedin fa-2x mx-3"></i>
        </a>  
      </div>

    
    
      <!--` GitHub  -->
      <div>
        <a>
          <i class="fab fa-github-square fa-2x mx-3"></i>
        </a>
      </div>

      <!--` Gmail  -->
      <div>
        <a>
          <i class="fab fa-google fa-2x mx-3"></i>
        </a>
      </div>
      

    </div>
  </div>
</footer>

</body>

</html>