<div class="card mb-3" style="max-width: 940px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="<%= ent.urlToImage %>" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= ent.title %> </h5>
                <a href="<%= ent.url %>" class="stretched-link">
                    <p class="card-text">
                        <small class="text-muted"><%= ent.source.name%></small>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>